@import url('https://fonts.googleapis.com/css?family=Roboto');
html, body, h1, h2, h3, h4, h5, h6, a {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.Error{
    font-family: 'Roboto', sans-serif;
    text-underline-style: dash;
    color: white;
    position: center;
    margin-right: 30vw;
    margin-left: 30vw;
    padding: 1vw;
    text-align: center;
    text-underline: red;
    background-color: black;
    border-radius: 5px;
    border-width: thin;
    border: solid red;
}

.Transaktion{
    background-color: #e1e1e1;
    margin-right: 5vw;
    margin-left: 5vw;
    padding: 2vw;
    border: solid #222222;
}

.Back{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #f1f1f1;
    color: black;
    border-radius: 10%;
}
