/* Änderungshistorie
* Name: Friedemann
* Datum: 09.10.2018
* Zweck des Dokuments: Header.css beschreibt den Style des Headers. Es enthält Styles für den Header selbst und den enthaltenen Titel. Es bindet das Hintergundbild ein.
*
* Änderung:
* Name: Lucas
* Datum: 20.11.2018
* Änderungen vorgenommen: Einbindung des Bildes in den Header & Transparenz eingefügt (opacity=0.8)
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
.header {
    background-color: #222;
    background-image: url("./background_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    padding: 20px;
    color: white;
    text-align: center;
    opacity: 0.8;
}

.title {
    font-size: 4ex;
    font-family: 'Roboto', sans-serif;
    display: block;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    width:100%;
    margin-bottom: 20px;
    cursor: pointer;
}

.subtitle {
    margin: 0;
    cursor: default;
    font-family: 'Roboto', sans-serif;
}
